alembic==0.9.7
amqp==2.2.2
aniso8601==2.0.0
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Faker==0.8.10
Flask==0.12.2
Flask-Caching==1.3.3
-e git+http://github.com/ocervell/flask-flash@ac8e0b83ecee65b03245e58de6aa623eb2bc92c1#egg=Flask_Flash
Flask-HTTPAuth==3.2.3
Flask-JSGlue==0.3.1
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.6
inflect==0.2.5
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
meld3==1.0.2
-e git+https://github.com/xavierfav/meloshare@5216a0592d2d256a727ee4152ddfd60452eebabf#egg=meloshare
numpy==1.14.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.2
supervisor==3.3.3
text-unidecode==1.1
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
